<nav class="navbar fixed-top navbar-expand-lg">
  <a routerLink="" *ngIf="!loggedIn" class="navbar-brand">
    <img src="assets/images/logo-white.png" alt="logo Aparezcp" class="img-fluid" >
  </a>
  <a class="navbar-brand" *ngIf="loggedIn" routerLink="{{isLawyer ? '/abogado/listarcasos/waitingLawyer': '/usuario/home'}}">
    <img src="assets/images/logo-white.png" alt="logo Aparezcp" class="img-fluid" >

  </a>


  <button
    class="navbar-toggler"
    type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation" style="color: white">
    <!--<span class="navbar-toggler-icon"></span>-->
    <i class="fas fa-bars fa-lg"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" routerLink="" *ngIf="!loggedIn">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <li class="nav-item active">
        <a class="nav-link" routerLink="abogado/listarcasos/waitingLawyer" *ngIf="loggedIn && isLawyer"> | <i class="fa fa-list"></i> Mis Casos <span class="sr-only">(current)</span></a>
        <!--<a class="nav-link d-sm-none d-" routerLink="/usuario/home" *ngIf="loggedIn && !isLawyer">Mis Casos<span class="sr-only">(current)</span></a>-->
      </li>
    </ul>
    <ul class="nav nav-pills" style="color: white;text-decoration: none; list-style: none;">
      <li class="nav-item">
        <a class="nav-link " *ngIf="!loggedIn" routerLink="/usuario/login"> <i class="fa fa-sign-in-alt"></i>  Iniciar Sesión</a>
      </li>
      <li class="nav-item" *ngIf="!loggedIn">
        <a class="nav-link" routerLink="abogado-login"> <i class="fa fa-user-circle"></i> Soy Abogado</a>
      </li>

      <li class="nav-item dropdown" *ngIf="loggedIn && isLawyer" style="color: white;" ngbDropdown
      #lawyerDropdown="ngbDropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle style="color:white;">
           Bienvenido  <strong> {{name}} </strong> <img src="{{photoURL}}" class="img-fluid" style="border-radius: 80%; max-width: 15%; height: auto; max-height: 40px;">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown1"
        ngbDropdownMenu style="width: 100%;">
          <a class="dropdown-item" (click)="lawyerDropdown.close()"  routerLink="/abogado/perfil"> <i class="fa fa-user"></i> Mi Perfil</a>
          <a class="dropdown-item"
          (click)="lawyerDropdown.close()" routerLink="/abogado/listarcasos/waitingLawyer"> <i class="fa fa-list"></i> Ir a mis Casos</a>
          <a class="dropdown-item" routerLink="/abogado/calendario"
          (click)="lawyerDropdown.close()"> <i class="fa fa-calendar"></i> Mi Calendario </a>
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <div class="dropdown-divider" *ngIf="isStaff"></div>
          <a class="dropdown-item" routerLink="/admin" *ngIf="isStaff"> <i class="fa fa-check-square"></i> Ir al Administrador</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout(isLawyer)"> <i class="fa fa-sign-out-alt"></i> Cerrar Sesión</a>
        </div>
      </li>
      <li ngbDropdown placement="bottom-right"
      class="nav-item dropdown" *ngIf="loggedIn && !isLawyer" style="color: white;">
        <a class="nav-link dropdown-toggle" id="navbarDropdown"
           role="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
           <ng-container *ngIf="thumbnail">
             <img src="{{thumbnail}}" class="img-fluid" style="border-radius: 80%; max-width: 10%; height: auto; max-height: 40px;">
           </ng-container>
          <ng-container *ngIf="!thumbnail">
            Bienvenido {{name | titlecase }} <i class="fa fa-user fa-lg" aria-hidden="true"></i></ng-container>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " routerLink="/usuario/home">Mis Casos</a>
          <a class="dropdown-item" routerLink="/usuario/perfil">Mi Perfil</a>
          <!--<a class="dropdown-item" routerLink="/abogado">Ir a mis Casos</a>-->
          <!--<a class="dropdown-item" href="#">Another action</a>-->
          <!--<div class="dropdown-divider" *ngIf="isStaff"></div>-->
          <!--<a class="dropdown-item" routerLink="/admin" *ngIf="isStaff">Ir al Administrador</a>-->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
        </div>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
