<div class="bg"> 
    <br>
    <br>
    <br>
    <br>
    
    
    <div class="container container-abogado" *ngIf="!emailSent">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 style="text-align:center"> <strong>Vamos a Restablecer tu Contraseña</strong> </h3>
          
          <h4 style="text-align:center">Escribe el Correo con el que te registraste</h4>
          <form #f="ngForm" (ngSubmit)="resetPass(f)">
            <div class="form-group">
              <input type="email" class="form-control tu-correo" placeholder="Tu Correo" required #email ngModel name="email">
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid">Restablecer mi Contraseña</button>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    
    <div class="container" *ngIf="emailSent">
      <br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="jumbotron">
            <h4 class="display-4">Se envío un link para que restablezcas tu contraseña</h4>
            <p class="lead">Revisa tu Correo y Sigue las instrucciones.</p>
            <hr class="my-4">
            <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
            <a class="btn btn-primary btn-lg" routerLink="" role="button">Regresar al Inicio</a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    
    <br>
    <br>
    
    <div class="container">
      <div class="row" *ngIf="userAlreadyRegistered">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="alert alert-danger" role="alert">
            Al parecer no te has registrado <a routerLink="/usuario/registro">Puedes Registrarte aquí</a>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    
    
</div>