<div class="bg">


  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container ">
    <div class="container-abogado">
        <div class="row logo-top">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="/assets/images/aparezco-21.png" alt="" class="img-fluid">
            </div>

            <div class="col-md-4"></div>
          </div>

          <br><br>



      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 ">
          <h4 class="text-center" style="#4c4c4c"> <strong > Iniciar Sesión</strong> </h4>
          <br>
        </div>
        <div class="col-md-4"></div>
      </div>



      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="button" class="btn btn-lg btn-block" style="background-color: #3b5998; color: white; border-radius: 10px;" (click)="login('facebook')">
            <i class="fab fa-facebook-f"></i> &nbsp;&nbsp;&nbsp;&nbsp;Ingresar Con Facebook</button>
          <button type="button" class="btn btn-lg btn-block"
                  style="background-color:#ec341e; color: white; border-radius: 15px;" (click)="login('gmail')">
            <i class="fab fa-google"></i>&nbsp;&nbsp;&nbsp;&nbsp;Ingresar Con Gmail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
        <div class="col-md-4">

        </div>

      </div> <br>
      <div style="text-align:center;">

        <div class="form-check">
            <label class="form-check-label">
                Panel de Inicio abogados aparezco <br>
              <input type="checkbox" class="form-check-input" value=""><a href="">Politicas de Privacidad</a>
            </label>
          </div>



        </div>
    </div>



  </div>

  <div class="row footer-aparezco col-md-12">

      <footer style="margin: auto;">

          <!-- Copyright -->
          <div class="footer-copyright py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/" style="color:white">  <strong>Aparezco </strong> </a>  &nbsp;
            <i class="fab fa-facebook-f"></i>   &nbsp; <i class="fab fa-instagram"></i>  &nbsp;
             |  &nbsp; Powered <a href="http://xerogroup.co/" style="color:white" target="_blank"> <strong>XeroGroup</strong> </a>


          </div>
          <!-- Copyright -->

        </footer>
    </div>


</div>
