<div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb mis-casos">
          <li class="breadcrumb-item"><a routerLink="/abogado/" class="text-casos">Mis Casos</a></li>
          <li class="breadcrumb-item"><a routerLink="/abogado/casos/{{id}}" class="text-casos">{{id}}</a></li>
          <li class="breadcrumb-item"><a routerLink="/abogado/casos/{{id}}/actividades" class="text-casos">Actividades</a></li>
          <li class="breadcrumb-item active text-casos" aria-current="page"><strong>{{activityId}}</strong></li>
        </ol>
      </nav>
    </div>
</div>


<div class="row">
  <div class="col-md-12">
      <form (ngSubmit)="updateActivity(f)"  #f="ngForm" *ngIf="activity">
          <div class="form-group">
            <input type="text" class="form-control text-casosb"
                    placeholder="Titulo de la Actividad" #titulo required name="titulo" [(ngModel)]="activity.title">
          </div>
          <div class="form-group">
            <textarea class="form-control text-casosb" rows="3" placeholder="Detalle de la Actividad"
                      required minlength="20" name="caso" #caso [(ngModel)]="activity.content"></textarea>
            <small *ngIf="!caso.valid && caso.touched">Ingresa una descripción para tu caso</small>
          </div>
          <button type="button" class="btn btn-primary" [disabled]="!f.valid" (click)="updateActivity(id, activity)">Enviar</button> &nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteActivity(id, activityId)">Eliminar</button>
        </form>
  </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
          <h5>Comentarios de la Actividad</h5>
            <li class="list-group-item" *ngFor="let comentario of comentarios">{{comentario.text}}</li>
          </ul>
    </div>
</div>

<!-- <div class="row">
  <div class="col-md-6">
      <span>
          <button type="button" class="btn btn-primary"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Agregar Actividad</button>
      </span>
      <br>
      <span id="collapseExample" [ngbCollapse]="isCollapsed">
        <br>
          <form #comentarioForm="ngForm">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tu Comentario"
                required [(ngModel)]="comentario" name="comentario">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="saveComentario()">Enviar</button>
              </div>
            </form>
      </span>
  </div>

</div> -->
