<div class="container">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2>Abogados</h2>
      <br>
      <table class="table">
        <tbody>
        <tr *ngFor="let lawyer of lawyers">
          <td>{{lawyer.name}}</td>
          <td>{{lawyer.email}}</td>
          <td>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="lawyer.isLawyerApproved"
                     (change)="changeStatus(lawyer, $event)">
              <span class="slider round"></span>
            </label>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
