<div class="form-group" ngbDropdown #myDrop="ngbDropdown">
    <input type="text" class="form-control"
    placeholder="Ciudad en la que deseas encontrar tu abogado"
    [formControl]="searchCiudad" id="dropdownManual" ngbDropdownAnchor
    (keyup)="myDrop.open()" name="ciudad" #ciudad autocomplete="off">
    <!-- <input type="text" class="form-control" placeholder="Buscar Caso"
    (keyup)="myDrop.open();onkeyup($event);" id="dropdownManual" ngbDropdownAnchor
    autocomplete="off"> -->
    <div  aria-labelledby="dropdownManual" ngbDropdownMenu style="width: 100%;"
    class="dropdown-menu">
    <a class="dropdown-item" *ngFor="let city of results$" (click)="setCitySearched(city.nombre)">
      <tr>
        <td>{{ city.nombre }} | </td>
        <td>&nbsp;{{ city.departamento }}</td>
      </tr>
    </a>
    <a class="dropdown-item" *ngIf="ciudad.value==''">Escribe el nombre de la Ciudad</a>
    <a class="dropdown-item" *ngIf="(results$?.length<1) && ciudad.value != ''">Sin Resultados</a>
      </div>
  </div>
