<br>
<br>
<br>
<br>
<div class="container">



  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <!--<h5 class="card-header"></h5>-->
        <div class="card-body">
          <h5 class="card-title">Tu cuenta está pendiente de activación</h5>
          <p class="card-text">Completa la Documentación Requerida.</p>
          <!--<a href="#" class="btn btn-primary"></a>-->
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Nombres</label>
          <div class="col-sm-8">
            <input type="text"  class="form-control" id="staticEmail">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-4 col-form-label">Apellidos</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputPassword">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="celular" class="col-sm-4 col-form-label">Celular</label>
          <div class="col-sm-8 input-group-prepend">
            <div class="input-group-prepend">
              <div class="input-group-text"><img src="assets/images/colombia.png" alt="Colombia">+57</div>
            </div>
            <input type="number" class="form-control" id="celular">
          </div>
        </div>

        <br>

        <h5>Adjunta la Siguiente Documentación</h5>

        <br>

        <div class="form-group row">
          <label for="cedula" class="col-sm-4 col-form-label">Cedula</label>
          <div class="col-sm-8">
            <span class="btn btn-primary btn-file">
              Adjuntar<input type="file" class="form-control-file" id="cedula">
            </span>

          </div>
        </div>
        <div class="form-group row">
          <label for="diploma" class="col-sm-4 col-form-label">Diploma</label>
          <div class="col-sm-8">
            <span class="btn btn-primary btn-file">
              Adjuntar<input type="file" class="form-control-file" id="diploma">
            </span>

          </div>
        </div>
        <div class="form-group row">
          <label for="tarjetaprof" class="col-sm-4 col-form-label">Tarjeta Profesional</label>
          <div class="col-sm-8">
            <span class="btn btn-primary btn-file">
            Adjuntar<input type="file" class="form-control-file" id="tarjetaprof">
              </span>
          </div>
        </div>
        <div class="form-group row">
          <label for="diploma" class="col-sm-4 col-form-label">Hoja de Vida</label>
          <div class="col-sm-8">
            <span class="btn btn-primary btn-file">
            Adjuntar<input type="file"  id="diploma">
              </span>
          </div>
        </div>

        <br>

        <button type="button" class="btn btn-primary">Solicitar Activación</button>

      </form>
    </div>
    <div class="col-md-3"></div>
  </div>



</div>
