.card-body:hover{
  background-color: lightblue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-file {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.proceso {
  background-color: #8bc34a;
  color: white;
  border-radius: 13px;
  margin: 8px;


}

.nav-link.proceso{
  background-color: #8bc34a;
}

.finalizado {
  background-color: #ffc107;
  color: white;
  border-radius: 13px;
  margin: 8px;

}

.nav-link.finalizado{
  background-color: #ffc107;;
}

.nav-link.entrante{
  background-color: gray;
}

.nav-link.active {
  border-bottom: 5px solid black;
}

.nav-link.abierta {
  background-color: #218ac7;
}

.entrante {
  background-color:gray;
  color: white;
  border-radius: 13px;
  margin: 8px;
}

.nav-link.no-prospectados {
  background-color: #f44336;
}

.no-prospectados {
  background-color: #f44336;
  color: white;
  border-radius: 13px;
  margin: 8px;

}

.abierta {
  background-color: #218ac7;
  color: white;
  border-radius: 13px;
  margin: 8px;

}



.bg {
  background-image: url("/assets/images/fondo1.jpg");

  height: 900px;
  width: auto;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}


.card-a{
  background-color: #f6f0e8;
  border-radius: 30px;
  margin: 15px;
  color: #272727;
  width: auto;
  text-align: center;


}

.card-a:hover{
  transform: scale(1.03);
  background-color: #fbe4ac;
}

.card-b{
  background-color: #ecf4dd;
  border-radius: 30px;

  color: #242323;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 40px;


}

.card-b:hover{
  transform: scale(1.03);
  background-color: #cef08b;
}

.tittle-admin{
  color: #218ac7;
  border-bottom: #218ac7 1px;
  font-weight: bold;
}

.icon-mas{
  margin-top: -10px;
  position: absolute;
  margin-left: -25px;

}

.icon-dos{

  position: absolute;
  margin-left: 300px;
  margin-top: -60px;
  position: fixed;
}

.footer-aparezco{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:#373a44;
  border-top: 3px solid #fdb153;
  color: white;
}

.tomar-caso {
  border-radius: 20px;
  color: white;
}


.square {
  height: 5px;
  width: 5px;
  background-color:black;
}

.status-indicator{
  padding: 0px 0px 0px 0px; 
  margin: 0px 0px 0px 0px; 
  font-size: 70%;
}