<div class="bg">
  <div class="container">


    <div class="row" *ngIf="request">
      <div class="col-md-12">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mis-casos">
            <li class="breadcrumb-item"><a routerLink="/abogado/" class="text-casos">Mis Casos</a></li>
            <li class="breadcrumb-item"><a routerLink="/abogado/casos/{{request.id}}" class="text-casos">{{request.id}} - {{ request.name | titlecase }}</a></li>
            <li class="breadcrumb-item active text-casos" aria-current="page"><strong>Actividades</strong></li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row" >
        <div class="col-md-12" >
          <div class="accordion" id="buttonCrearActivity" >
            <div class="card" style="border: none;">
              <div class="card-header" id="headingCrear" style="background:transparent; border: none;">
                <h5 class="mb-0">
                  <button class="btn btn-primary btn-crear-actividad" type="button"  (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="formCrearAct">
                    Crear Actividad
                  </button>
                </h5>
              </div>

              <div id="formCrearAct" class="collapse background-cardc"
              [ngbCollapse]="!isCollapsed">
                <div class="card-body">
                  <form (ngSubmit)="saveActivity(f)"  #f="ngForm">
                    <div class="form-group ">
                      <input type="text" class="form-control text-casosb" placeholder="Titulo de la Actividad" #titulo required name="titulo" ngModel>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control text-casosb" rows="3" placeholder="Detalle de la Actividad" required minlength="20" name="caso" #caso ngModel></textarea>
                      <small *ngIf="!caso.valid && caso.touched">Ingresa una descripción para tu caso</small>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion background-card" id="accordionExample" >
          <div class="card-x " *ngFor="let activity of activities; let i = index;">
            <div class="card-header background-cardb"  id="heading{{i}}">
              <h5 class="mb-0">
                  <a class="list-group-item list-group-item-action flex-column align-items-start"
                     style="border-radius: 10px; border: none; background-color:#fcf0f0;"
                     data-toggle="collapse" attr.data-target="#collapse{{i}}"
                     aria-expanded="true" attr.aria-controls="collapse{{i}}"
                     routerLink="{{activity.id}}">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1" style="font-weight: bold">
                        {{activity.title | titlecase }}</h5>
                      <!--<small>3 days ago</small>-->
                    </div>
                    <p class="mb-1">
                      {{activity.content | truncate:60}}
                    </p>
                    <small>{{activity.id | date}}</small>
                    <!--<small>Donec id elit non mi porta.</small>-->
                  </a>
              </h5>
            </div>
            <div id="collapse{{i}}" class="collapse" attr.aria-labelledby="heading{{i}}"
            data-parent="#accordionExample">
              <div class="card-body background-cardc">
                <form (ngSubmit)="updateActivity(f)"  #f="ngForm">
                  <div class="form-group">
                    <input type="text" class="form-control text-casosb"
                            placeholder="Titulo de la Actividad" #titulo required name="titulo" [(ngModel)]="activity.title">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control text-casosb" rows="3" placeholder="Detalle de la Actividad"
                              required minlength="20" name="caso" #caso [(ngModel)]="activity.content"></textarea>
                    <small *ngIf="!caso.valid && caso.touched">Ingresa una descripción para tu caso</small>
                  </div>
                  <button type="button" class="btn btn-primary" [disabled]="!f.valid" (click)="updateActivity(activity)">Enviar</button> &nbsp;
                  <button type="button" class="btn btn-danger" (click)="deleteActivity(activity.id)">Eliminar</button>
                </form>
              </div>
       </div>
          </div>
        </div>

    <br>


  </div>
</div>
